<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <display-name>Demo</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloE</servlet-name>
    <servlet-class>HelloE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloE</servlet-name>
    <url-pattern>/demo</url-pattern>
</web-app>
